numpy >= 1.10
pandas >= 1.2.0
matplotlib >= 3.3.*
pycsou >= 1.0.6
periodispline @ git+git://github.com/matthieumeo/periodispline.git@12f0731990b33e7df1e25ec48c1b9472f461d5e6
sphinx == 2.1.*
tqdm >= 4.61.*
